.main-section {
    display: flex;
    justify-content: center;

    border: solid red 1px;
    width: 100%;
}

.app-body h1 {
    font-size: 64px;
}

.app-body {
    width: fit-content;
    border: solid red 1px;
}
